/* You can add global styles to this file, and also import other style files */
.main-color{
    background-color: #EEEEEE;
}

.box-main{
    padding: 10px;
    width: 75%;
    height: 50%;
    margin: auto;
    margin-top: 10px;
}

.box-main-list{
    padding: 10px;
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 10px;
}