<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Filas</li>
    </ol>
</nav>

<div class="card box-main-list">
    <div class="card-body">
        <button type="button" class="btn btn-primary" routerLink="/form-queue">Nova Fila</button><br /><br />
        <div *ngIf="listQueue?.length > 0">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Fila</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let queue of listQueue">
                        <td>{{queue.name}}</td>
                        <td><button type="button" class="btn btn-dark" routerLink="/client-queue/{{queue.id_queue}}">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="listQueue?.length == 0">
            Você não possui fila cadastrada.
        </div>
    </div>
</div>