<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/list-queue">Filas</a></li>
        <li class="breadcrumb-item"><a href="/client-queue/{{clientQueue.id_queue}}">{{clientQueue.name_queue}}</a></li>
        <li class="breadcrumb-item">{{clientQueue.name}}</li>
    </ol>
</nav>

<div class="card box-main">
    <div class="card-body">
        <div style="text-align:center">
            <qr-code [value]="qrCodeLink" [size]="200"></qr-code>
        </div>    
    </div>
</div>