<div class="card box-main">
        <div class="card-body">
    
            <div class="alert alert-danger" role="alert" *ngIf="error">Usuário ou senha inválidos!</div>
    
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="iemail">Email</label>
                    <input type="text" class="form-control" id="iemail" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="ipassword">Senha</label>
                    <input type="password" class="form-control" id="ipassword" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button> | <a routerLink="/register">Criar conta</a>
            </form>    
        </div>
    </div>