<div class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                Sistema de Fila
            </div>
            <div class="col" style="text-align:right">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="username != null">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" (click)="logout()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
