<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/list-queue">Filas</a></li>
        <li class="breadcrumb-item">Cadastrar</li>
    </ol>
</nav>

<div class="card box-main">
    <div class="card-body">

        <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="iname">Nome</label>
                <input type="text" class="form-control" id="iname" formControlName="name">
            </div>
            <div class="form-group">
                <label for="itext">Texto da Fila</label>
                <input type="text" class="form-control" id="itext" formControlName="text_queue">
                <small>Texto detalhado sobre a fila. Ex.: "Restaurante da Maria, melhor cozinha italiana da região."</small>
            </div>
            <div class="form-group">
                <label for="imessage">Mensagem final</label>
                <input type="text" class="form-control" id="imessage" formControlName="end_queue">
                <small>Mensagem que será exibida quando o usuário for chamado: Ex.: "Por favor compareça à recepção."</small>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>
</div>